@font-face {
    font-family: "MerriweatherLight";
    src: url("../fonts/MerriweatherLight/MerriweatherLight.eot");
    src: url("../fonts/MerriweatherLight/MerriweatherLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MerriweatherLight/MerriweatherLight.woff") format("woff"),
    url("../fonts/MerriweatherLight/MerriweatherLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PlayfairDisplaySCRegular";
    src: url("../fonts/PlayfairDisplaySCRegular/PlayfairDisplaySCRegular.eot");
    src: url("../fonts/PlayfairDisplaySCRegular/PlayfairDisplaySCRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PlayfairDisplaySCRegular/PlayfairDisplaySCRegular.woff") format("woff"),
    url("../fonts/PlayfairDisplaySCRegular/PlayfairDisplaySCRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


h2 {
	font-family: "PlayfairDisplaySCRegular", sans-serif;
	font-size: 91px;
	margin-bottom: 148px;
}
p{
	font-family: "LatoRegular", sans-serif;
	font-size: 23px;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

.content-wrapper-np34 {
	max-width: 1070px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	padding: 0 15px;
}
.left-b{
	width: 44%;
	float: left;
	text-align: left;
	padding-top: 70px;
	padding-right: 54px;
}
.left-b.rf{
	width: 39%;
	padding-left: 54px;
}
.right-b{
	width: 50%;
	float: right;
}
.right-b img {
	max-width: 100%;
}
.date{
	font-family: "LatoLight", sans-serif;
	font-size: 23px;
	color: #333333;
	margin-bottom: 70px;
}
.left-b h3 {
	font-family: "PlayfairDisplaySCRegular",sans-serif;
	font-size: 60px;
}
.right-b.rfr {
	float: left;
}
.post-item{
	margin-bottom: 80px;
}
.post-content{
	font-family: "MerriweatherLight", sans-serif;
	font-size: 21px;
	padding-left: 43px;
}
.more-btn{
	width: 178px;
	height: 65px;
	display: block;
	text-align: center;
	line-height: 65px;
	font-family: "LatoRegular", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	position: relative;
}
.more-btn:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 65px;
	background: #d6f6e5;
	z-index: -1;
	transition: all 0.25s;
}
.more-btn:hover:before{
	width: 100%;
}

.img-wrapper img:nth-child(1){
	display: inline-block;
	width: 40%;
	height: 643px;
}
.img-wrapper img:nth-child(2){
	display: inline-block;
	width: 55%;
	height: 643px;
	margin-left: 40px;
}
.content-wrapper-np34.material-page h2 {
	margin-bottom: 20px;
	display: inline-block;
}
.back{
	float: left;
	margin-top: 125px;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: #8d8d8d;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.label{
	text-align: right;
	font-family: "Lato", sans-serif;
	font-size: 21px;
	padding-top: 10px;
	padding-right: 150px;
	text-transform: uppercase;
}
.lbl-bottom{
	padding-right: 0;
	text-align: center;
}
.shoes{
	margin-top: 150px;
}
.img-wrapper.img-center img{
	width: 45%;
}
.img-wrapper.img-center .label{
	text-align: center;
}
.material-page .post-content {
	text-align: left;
	font-family: "LatoRegular", sans-serif;
	font-size: 27px;
}
.left-text{
	float: left;
	width: 50%;
	text-align: left;
}
.right-image{
	float: right;
	width: 50%;
}
.right-image img {
	max-width: 100%;
}
.title h3 {
	font-family: "Lato", sans-serif;
	font-size: 69px;
	text-transform: uppercase;
	margin-bottom: 0;
	font-weight: 300;
}
.title p {
	font-family: "Lato", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	color: #666666;
	font-weight: 300;
	margin: 0;
	position: relative;
}
.title p:after{
	content: '';
	position: absolute;
	width: 70px;
	height: 2px;
	left: 0;
	bottom: -12px;
	background: #000;
}
.title{
	margin-bottom: 20px;
}
.price p {
	font-family: "Lato", sans-serif;
	font-size: 25px;
}
.price p:first-child {
	font-weight: bold;
	font-size: 30px;
}
.ideas-page .post-content {
	padding: 0;
}
.ideas-page .post-content p{
	font-family: "Lato", sans-serif;
	line-height: 45px;
}
.slider-wrapper{
	padding: 0 100px;
	margin-bottom: 100px;
}
.owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}
.owl-prev{
	position: absolute;
	left: -110px;
}
.owl-next{
	position: absolute;
	right: -70px;
}
.owl-dots{
	position: absolute;
	width: 100%;
	height: 50px;
	line-height: 50px;
}
.owl-dots span{
	width: 16px;
	height: 15px;
	display: inline-block;
	background: #c8edda;
	border-radius: 50%;
	margin-left: 35px;
}
.owl-dot{
	display: inline-block;
}
.owl-dot.active span{
	background: #00cf9b;
}
.left-part,.center-part,.right-part{
	 width: 44%;
	 float: left;
}
.left-part,.right-part{
	width: 25%;
}
.material-page2 .img-wrapper {
	overflow: hidden;
	text-align: center;
}
.material-page2 .back{
	margin-top: 28px;
}
.material-page2 h2{
	margin-bottom: 0;
}
.material-page2 .img-wrapper img {
	width: auto;
	position: relative;
	left: -60px;
}
.center-part{
	padding-left: 50px;
}
.center-part .date {
	text-align: left;
	margin-bottom: 60px;
}
.center-part .post-content {
	text-align: left;
	padding: 0;
}
.right-part {
	position: relative;
}
.price-box {
	width: 220px;
	height: 65px;
	position: absolute;
	left: -113px;
	top: -20px;
	background: rgba(255,255,255,0.8);
	z-index: 99;
	text-align: left;
	padding: 20px;
}
.price-box p, .price-box p:first-child {
	font-size: 15px;
}
.right-part img{
	max-width: 100%;
}
.right-part .label {
	padding: 0;
	text-align: center;
	margin-bottom: 100px;
}
.inline-img{
	text-align: left;
}
.product-item{
	display: inline-block;
	width: 30%;
}
.product-item .label {
	text-align: center;
	padding: 0;
	margin-top: 20px;
}
.product-item img {
	max-width: 100%;
}
.right-part .label.last {
	margin-bottom: 0;
}
.pagination {
	margin-top: 130px;
	margin-bottom: 70px;
	line-height: 60px;
}
.pagination a {
	font-family: "Lato", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	text-transform: uppercase;
	color: #333333;
	display: inline-block;
}
.line {
	display: inline-block;
	height: 60px;
	width: 1px;
	background: #000;
	vertical-align: middle;
	margin: 0 30px;
}
.img-wrapper.new-wrap img {
	display: inline-block;
	width: 40%;
	height: auto;

}
.left-part-global {
	width: 20%;
	float: left;
	position: relative;
}
.left-part-global .price-box {
	left: auto;
	top: auto;
	bottom: 204px;
	right: -115px;
}
.rigth-part-global{
	width: 80%;
	float: left;
}
.left-part-global .right-part{
	width: auto;
}
.left-part-global .back {
	margin-bottom: 30px;
}
.left-part-global .right-part img:first-of-type {
	margin-bottom: 90px;
}
.left-part-global .product-item{
	width: auto;
	display: block;
	margin-bottom: 130px;
}
.left-part-global .label {
	text-align: left;
}
.left-part-global .right-part {
	margin-bottom: 80px;
}
.rigth-part-global .date {
	text-align: right;
	margin-bottom: 0;
	margin-top: 80px;
}
.rigth-part-global h2 {
	font-size: 110px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.rigth-part-global .post-content p {
	padding-left: 100px;
	text-align: left;
	line-height: 40px;
}





@media all and (max-width: 1000px) {
	.right-image,.left-text{
		width: 100%;
	}
	.left-text{
		text-align: center;
	}
	.img-wrapper img:nth-child(2){
		width: 50%;
	}
}
@media all and (max-width: 960px) {
	.left-b,.right-b{
		width: 44%;
	}
	.right-b{
		padding-top: 50px;
	}
	.left-b h3 {
		font-size: 50px;
	}
	.post-content{
		padding-left: 20px;
	}
	.left-b.rf{
		padding-left: 20px;
	}
	.img-wrapper img:nth-child(1),
	.img-wrapper img:nth-child(2){
		height: 300px;
	}
	.center-part {
		padding: 0;
	}
	.rigth-part-global h2 {
		font-size: 80px;
	}
	.material-page3 .pagination a {
		font-size: 14px;
	}
}
@media all and (max-width: 768px) {
	h2{
		font-size: 60px;
	}
	.left-b, .right-b,.left-b.rf{
		width: 100%;
	}
	.post-content{
		padding: 0;
	}
	.back{
		margin-top: 87px;
	}
	.left-part, .center-part, .right-part{
		float: none;
		width: 100%;
	}
	.img-wrapper{
		text-align: center;
	}
	.material-page2 .img-wrapper img{
		height: auto;
		left: auto;
	}
	.center-part .date{
		margin-top: 60px;
	}
	.product-item {
		display: block;
		width: 100%;
		text-align: center;
	}
	.line {
		display: none;
	}
	.pagination a{
		font-size: 16px;
	}
	.pagination {
		line-height: 30px;
	}
	.price-box{
		left: 0;
		height: auto;
	}
	.left-part-global,.rigth-part-global{
		width: 100%;
		float: none;
	}
	.left-part-global .price-box {
		right: 0;
		height: auto;
	}

}
@media all and (max-width: 600px) {
	.slider-wrapper{
		padding: 0 50px;
	}
	.owl-prev{
		left: -20px;
	}
	.owl-next{
		right: -20px;
	}
	.title h3{
		font-size: 40px;
	}
	.img-wrapper img:nth-child(1),
	.img-wrapper img:nth-child(2){
		width: 100%;
		height: auto;
		margin: 0;
	}
	.label{
		padding: 0;
		text-align: center;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.rigth-part-global h2{
		font-size: 40px;
	}
	.rigth-part-global .post-content p{
		padding: 0;
	}
}
@media all and (max-width: 480px) {
	h2{
		font-size: 40px;
	}
	.left-b h3{
		font-size: 30px;
	}
	.slider-wrapper{
		padding: 0 20px;
	}
	.owl-prev{
		left: 0;
	}
	.owl-next{
		right: 0;
	}
	.title h3{
		font-size: 25px;
	}
	.title p,.price-text {
		font-size: 18px;
	}
	.price p:first-child {
		font-size: 18px;
	}
	.price p{
		font-size: 20px;
	}
	.ideas-page .post-content p{
		font-size: 18px;
	}
	.center-part .post-content{
		font-size: 14px;
	}

}
@media all and (max-width: 320px) {
	.owl-prev{
		left: -40px;
	}
	.owl-next{
		right: -40px;
	}
}

.price-box-new {
	width: 220px;
	height: 65px;
	position: absolute;

	background: rgba(255,255,255,0.8);
	z-index: 99;
	text-align: left;
	padding: 20px;
	display: none;
}
.price-box-new p, .price-box-new p:first-child {
	font-size: 15px;
}